<div *ngIf="authGuard.isAdmin()">
  <form #formRef="ngForm">
    <div class="form-group">
      <label for="problemTitle">Problem Title</label>
      <input type="text" class="form-control" id="problemTitle" name="problemTitle" placeholder="Enter Problem Title"
      required [(ngModel)]="newProblem.title" #problemTitle="ngModel">
      <!-- <div [hidden]="problemTitle.valid || problemTitle.pristine" class="alert alert-danger">
        Problem Title is required
      </div> -->
    </div>
    <div class="form-group">
      <label for="problemDesc">Problem Description</label>
      <textarea type="text" row="3" class="form-control" id="problemDesc" name="problemDesc"
      required placeholder="Enter Problem Description" required [(ngModel)]="newProblem.desc" #problemDesc="ngModel"></textarea>
      <!-- <div [hidden]="problemDesc.valid || problemDesc.pristine" class="alert alert-danger">
        Problem Description is required
      </div> -->
    </div>
    <div class="form-group">
      <label for="difficulty">Difficulty</label>
      <select class="form-control" id="difficulty"
      name="difficulty" [(ngModel)]="newProblem.difficulty" >
        <option value="" disabled selected>Select Difficulty</option>
        <option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{difficulty}}
        </option>
      </select>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary pull-right" (click)="addProblem()">
          Add Problem</button>
      </div>
    </div>
  </form>
</div>
