@media screen {
 #editor {
   height: 600px;
 }
 .lang-select {
   width: 100px;
   margin-right: 10px;
 }
 header .btn {
   margin-top: 5px;
   margin-bottom: 5px;
 }
 footer .btn {
   margin-top: 10px;
 }
 .editor-footer, .editor-header {
 }
 .cursor {
   /*position:absolute;*/
   background: rgba(0, 250, 0, 0.5);
   z-index: 40;
   width: 2px!important
 }

}
pre {
  margin-top:10px;
  height: 100px;
  width: 500px;
}
